doctype html
html
  head
    title= title
    
    <script src="/Lib/jquery/jquery.min.js"></script>
    <link href="/Lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/index.css" rel="stylesheet">
    <script src="/Lib/bootstrap/bootstrap.min.js"></script>
   
  body
    block content
