doctype html
html
  head
    title= title
    
    <script src="/Lib/jquery/jquery.min.js"></script>
    <link href="/Lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/index.css" rel="stylesheet">
    <script src="/Lib/bootstrap/bootstrap.min.js"></script>
    <link href="/stylesheets/nav.css" rel="stylesheet">
    
    //引用sweetAlert库
    script(src="/Lib/sweetAlert/sweetalert.min.js")
    link(rel='stylesheet', href='/Lib/sweetAlert/sweetAlert.css')
    
    link(rel='stylesheet', href='/stylesheets/loading.css')
    
    <script> var udpStatus = false;</script>
    <script> var loadingReady = false;</script>
    
    <script src="/Js/view.js"></script>
     
  body
    div
      nav.navbar.navbar-inverse.navbar-fixed-top        
        div.container 
          div.navbar-header 
            a.navbar-brand(href="./") Net Gap 
          u.nav.navbar-nav 
            li
              a(href="./") Index 
            li.active
              a(href="/view") Hardware View
            li
              a(href="/control") Hardware Control
          
          ul.nav.navbar-nav.navbar-right
            li
              button.btn.btn-success.btn-udp Run Udp Server
            li.udp-status(style="color:#D9534F") Udp Server Stopped
            li.headUserName 
            li.headUserIcon
              img(alt="userIcon" src="/img/userIcon1.jpg")
            li.logout(style="color:white",title="Logout")
              span.glyphicon.glyphicon-log-out(aria-hidden="true")
            li.login-btn Login 
     
    div.jumbotron(style="margin-top:65px")
      div.container
       div.row#hash1(name="hash1")
        div.col-md-8
          h1 查看正在工作的硬件状态
          p Net Gap系统的硬件电路会保持和服务器的沟通，用户可以通过服务端查看每个硬件设备的工作状态
        div.col-md-4(style="text-align: center")
          img(src="/img/eye.png",style="margin-top:0px;height:160px")
    
    <div class="container container-gear" style="text-align:center">
    <div class="gearbox">
    <div class="overlay"></div>
    <div class="gear one">
    <div class="gear-inner">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    </div>
    </div>
    <div class="gear two">
    <div class="gear-inner">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    </div>
    </div>
    <div class="gear three">
    <div class="gear-inner">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    </div>
    </div>
    <div class="gear four large">
    <div class="gear-inner">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    </div>
    </div>
    </div>
    <h1>Loading UDP Data...</h1>
    </div>
    
    footer
      p(style="text-align:center") NetGap Team and ECNU Display Lab © 2015-2016 &nbsp;&nbsp;&nbsp; Designed By ZHANGDING
    
    div.modal.fade#loginModal(tabindex="-1",role="dialog",aria-labelledby="loginModalLabel",aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
                    h4.modal-title#loginModalLabel 登录
                div.modal-body
                    form#loginForm 
                        br
                        div.col-md-2
                        div.input-group.col-md-8
                            span.input-group-addon User Name
                            input.form-control(type="text",name="username")
                        br
                        br
                        div.col-md-2
                        div.input-group.col-md-8
                            span.input-group-addon Password
                            input.form-control(type="password",name="password")
                div.modal-footer
                    button.btn.btn-default(type="button",data-dismiss="modal") 关闭
                    button.btn.btn-primary.loginConfirm(type="button") 登录
    
    
    div.devList
    script(src="/Js/common.js")
      
        
