doctype html
html
  head
    title= title
    
    <script src="/Lib/jquery/jquery.min.js"></script>
    <link href="/Lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/index.css" rel="stylesheet">
    <script src="/Lib/bootstrap/bootstrap.min.js"></script>
    <link href="/stylesheets/nav.css" rel="stylesheet">

      
  body
    div.
      <nav class="navbar navbar-inverse navbar-fixed-top"> 
        <div class="container"> 
          <!-- Brand and toggle get grouped for better mobile display --> 
          <div class="navbar-header"> 
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> 
          <a class="navbar-brand" href="./">Net Gap</a> 
          </div> 
          <!-- Collect the nav links, forms, and other content for toggling --> 
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
          <ul class="nav navbar-nav"> 
            <li><a href="./">Index <span class="sr-only">(current)</span></a></li> 
            <li><a href="/view">Hardware View</a></li>
            <li class="active"><a href="/control">Hardware Control</a></li> 
          </ul> 
          <ul class="nav navbar-nav navbar-right">
            <li><button class="btn btn-success btn-udp">Run The Udp Server</button></li>
            <li style="color:#D9534F" class="udp-status">The Udp Server Stopped<li>
            <li class="headUserName">UserName</li> 
            <li><img alt="userIcon" src="/img/userIcon1.jpg"></li>
          </ul> 
          </div>
          <!-- /.navbar-collapse --> 
        </div>
        <!-- /.container-fluid -->            
      </nav>
    div.jumbotron(style="margin-top:65px")
      div.container
       div.row#hash1(name="hash1")
        div.col-md-8
          h1 控制硬件电路的工作状态
          p Net Gap系统的硬件能够根据服务器的命令更改工作状态，用户可通过网页配置硬件，使其工作在理想状态
        div.col-md-4(style="text-align: center")
          img(src="/img/tools.png",style="margin-top:0px;height:160px")
    
      
        
