
.carouselDiv{
	margin-top:65px;
}
.carousel-control{
	font-size: 100px;
}

.hardwareSpe{
	padding: 80px 0px;
	text-align: center;
	font-family: "微软雅黑";
}
.hardwareSpe p{
	text-align: left;
	font-size: 18px;
}

